<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <noscript>
        {% block noscriptstylesheets %}{% endblock %}
    </noscript>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
{% set currentPath = app.request.getPathInfo()|split('/')[1] %}
{% block body %}

    {% block menu %}
    {% endblock %}

    {% block cta %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('lib/noty-2.3.8/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
    <script type="text/javascript">
        {% for category, messages in app.session.flashbag.all %}
            {% for message in messages %}    

                var n{{ category }}{{ loop.index }} = noty({
                    text : "{{ message }}",
                    type : "{{ category }}",
                    layout: "topLeft"
                });
                setTimeout(function(){n{{ category }}{{ loop.index }}.close()}, 2500);

            {% endfor %}
        {% endfor %}

    </script>
{% endblock %}
</body>

</html>
