{% extends "SOSVeloUserBundle::layout_uc.html.twig" %}
{% form_theme form 'SOSVeloPointBundle:Point:formSchedule.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@SOSVeloTemplateBundle/Resources/public/css/jquery.navgoco.css' 
        
        output='css/add_point.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"></link>
    {% endstylesheets %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <link rel="stylesheet"
          href="//rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/dist/L.Control.Locate.min.css"/>


    <style>
        #modal-layout {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            background: rgba(0,0,0,0.6);
        }

        #modal {
            margin: auto;
            width: 800px;
            margin-top: 80px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 5px 5px 10px black;
        }

        #modal-header {
            border-bottom: solid 1px silver;
            text-align: center;
        }
        
        #modal-close {
            float:right;
        }

        #modal-footer {
            height: 25px;
            border-top: solid 1px silver;
        }

        .label {
            border: solid 1px;
            border-radius: 5px;
            padding: 10px;
        }

        .label-success {
            border-color: green;
            color: green;
            background-color: lightgreen;
        }

        .label-danger {
            border-color: red;
            color: red;
            background-color: pink;
        }
        .label-info {
            border-color: blue;
            color: blue;
            background-color: lightblue;
        }

    </style>
{% endblock %}

{% block title %}SOSVelo ! - Ajouter un point{% endblock %}

{% block content %}

    <div class="container 75%" style="margin-left: 25px">
        <div style="float:right;">
            {% if app.user.point is not null %}
                {% if point.activated == true %}
                    <div class="label label-success">
                        Status : Actif    
                    </div>
                {% else %}
                    <div class="label label-info">
                        Status : En attente   
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <h3>Ajouter un point</h3>
        <div class="box">
            

            {{ form_start(form) }}

            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_label(form.services) }}
            {{ form_widget(form.services) }}
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            {{ form_label(form.schedule, "Horaires d'ouverture") }}
            
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="3" style="text-align: center">Matin</th>
                        <th colspan="3" style="text-align: center">Après Midi</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th style="text-align: center">de</th>
                        <th style="text-align: center">à</th>
                        <th style="text-align: center">Fermé ?</th>
                        <th style="text-align: center">de</th>
                        <th style="text-align: center">à</th>
                        <th style="text-align: center">Fermé ?</th>
                    </tr>
                </thead>
                <tbody>
        
                    {{ form_widget(form.schedule) }}
                    
                </tbody>
            </table>

            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_label(form.address) }}
            {{ form_widget(form.address) }}
            {{ form_widget(form.latitude) }}
            {{ form_widget(form.longitude) }}
            
            {{ form_widget(form.address, { 'attr' : { 'placeholder' : 'Sélectionnez un emplacement sur la carte ci dessous' }}) }}
            <div style="margin-bottom: 25px">
                <!-- <div id="point_address">Aucun emplacement sélectionné.</div> -->
                <div>
                    <!-- <button onclick="showMap()" class="button" id="choose_place">Choisir un emplacement</button> -->
                    <div id="map" class="map" style="height: 500px; width: 100%; margin-top:15px"></div>
                </div>
            </div>

            <input type="submit" id="submit" class="button special fit" />

            {{ form_end(form) }}

        </div>
    </div>
<!--
<div id="modal-layout" style="display: none">
    <div id="modal">
        <div id="modal-header">
            <div id="modal-close" onclick="$('#modal-layout').fadeOut()"><i class="fa fa-times fa-2x"></i></div>
            <h3>Choisir un emplacement</h3>
        </div>
        <div id="modal-content">
            <div class="8u 12u(2)">
                <div id="map" class="map"></div>
            </div>
        </div>
        <div id="modal-footer">
            <a href="" class="button special fit">Choisir cet emplacement</a>
        </div>
    </div>
</div>
-->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    {#<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>#}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://open.mapquestapi.com/sdk/leaflet/v1.s/mq-map.js?key=HEhJw0olt7an43Li529Gk97qkAAR9YSc"></script>
    <script src="http://open.mapquestapi.com/sdk/leaflet/v1.s/mq-routing.js?key=HEhJw0olt7an43Li529Gk97qkAAR9YSc"></script>
    <script src="//rawgithub.com/domoritz/leaflet-locatecontrol/gh-pages/dist/L.Control.Locate.min.js"></script>
    

    
    <script type="text/javascript">

        function showMap() {
            $("#modal-layout").fadeIn();
        }

        var map = L.map('map', {
            layers: MQ.mapLayer()
        });

        L.control.locate().addTo(map);
        map.locate({setView: true, maxZoom: 13});


        var markers = new L.FeatureGroup();
        markers.addTo(map);

        if ($("#sosvelo_add_point_latitude").val() !== "" 
         && $("#sosvelo_add_point_longitude").val() !== "") {
            markers.clearLayers();
            var mark = L.marker(new L.LatLng(parseFloat($("#sosvelo_add_point_latitude").val()), parseFloat($("#sosvelo_add_point_longitude").val())), {
                title: "Point SOSVelo"
            });
            markers.addLayer(mark);
        }

        $(window).on("resize", function () {
            // $("#modal").width($(window).width() / 1.1);
            // $("#map").height($(this).height() / 1.5).width($(window).width() / 2);
        }).trigger("resize");

        map.on("click", function(event){
            $("#sosvelo_add_point_latitude").val(event.latlng.lat);
            $("#sosvelo_add_point_longitude").val(event.latlng.lng);

            markers.clearLayers();
            var mark = L.marker(event.latlng, {
                title: "Point SOSVelo"
            });
            markers.addLayer(mark);


            $.ajax({
              "method" : "GET",
              "url" : "http://nominatim.openstreetmap.org/reverse",
              "data" : {
                "format" : "json",
                "lat" : event.latlng.lat,
                "lon" : event.latlng.lng,
                "addressdetail": 0
              },
              success: function(data) {
                $("#sosvelo_add_point_address").val(data.display_name);
                $("#point_address").empty();
                $("#point_address").text(data.display_name);
                $("#sosvelo_add_point_address").val(data.display_name);
                $("#choose_place").empty();
                $("#choose_place").text("Changer d'emplacement");
                $("#submit").removeAttr("disabled");
              }
            })

            $("#modal-layout").fadeOut();
        });

        if ($("#sosvelo_add_point_latitude").val() === "" 
         && $("#sosvelo_add_point_longitude").val() === ""
         && $("#sosvelo_add_point_address").val() === ""
         && $("#sosvelo_add_point_name").val() === ""
         && $("#sosvelo_add_point_description").val() === ""
        ) {
            $("#submit").attr("disabled","disabled");
        } else {
            $("#submit").removeAttr("disabled");
        }

    </script>

{% endblock %}