{% extends "SOSVeloUserBundle::layout_uc.html.twig" %}

{% block title %}SOSVelo ! - Supprimer un point{% endblock %}

{% block content %}
    
    <div class="container 75%" style="margin-left: 25px">
        <div class="box">
            <h3>Voulez-vous vraiment supprimer votre point SOSVélo ?</h3>
            <p>
                Cette action entrainnera la suppression de toutes les informations liées à votre point SOSVélo.
                Il ne sera pas possible de les récupérer. Voulez-vous continuer et supprimer votre point ?
            </p>
                {{ form_start(form) }}
                    <a href="{{ app.request.headers.get('referer') }}" class="button">Non, revenir à la page précédente</a>
                    <input type="submit" value="Oui, supprimer mon point" class="button special" style="float: right"></input>
                {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
