{% block form_row %}
{% spaceless %}
{#
<div>
    <div style="width: 10%; display: inline-block">
        {{ form_label(form) }}
    </div>
    <div style="width: 15%; display: inline-block; margin-right:3%">
        {{ form_widget(form.amstart, { 'attr' : {style : 'width: 100%; text-align: center'}}) }}
    </div>
    <div style="width: 15%; display: inline-block; margin-right:3%">
        {{ form_widget(form.amend, { 'attr' : {style : 'width: 100%; text-align: center'}}) }}
    </div>
    <div style="width: 5%; display: inline-block; margin-right:3%">
        {{ form_widget(form.amclose) }}
        {{ form_label(form.amclose, " ") }}
    </div>
    <div style="width: 15%; display: inline-block; margin-right:3%">
        {{ form_widget(form.pmstart, { 'attr' : {style : 'width: 100%; text-align: center'}}) }}
    </div>
    <div style="width: 15%; display: inline-block; margin-right:3%">
        {{ form_widget(form.pmend, { 'attr' : {style : 'width: 100%; text-align: center'}}) }}
    </div>
    <div style="width: 5%; display: inline-block; margin-right:3%">
        {{ form_widget(form.pmclose) }}
        {{ form_label(form.pmclose, " ") }}
    </div>

</div>        
#}
<tr>
    <td>{{ form_label(form) | dayname }}</td>
    <td>{{ form_widget(form.amstart, { 'attr' : {style : 'width: 100%; text-align: center'}}) }}</td>
    <td>{{ form_widget(form.amend, { 'attr' : {style : 'width: 100%; text-align: center'}}) }}</td>
    <td>{{ form_widget(form.amclose) }}
        {{ form_label(form.amclose, " ") }}</td>
    <td>{{ form_widget(form.pmstart, { 'attr' : {style : 'width: 100%; text-align: center'}}) }}</td>
    <td>{{ form_widget(form.pmend, { 'attr' : {style : 'width: 100%; text-align: center'}}) }}</td>
    <td>{{ form_widget(form.pmclose) }}
        {{ form_label(form.pmclose, " ") }}</td>
</tr>


{% endspaceless %}
{% endblock form_row %}