{# SOSVelo/Bundle/TemplateBundle/Resources/views/Template/uc.html.twig #}

{% extends '@SOSVeloUser/layout_uc.html.twig' %}

{% block title %}SOSVelo ! - Welcome {#TODO username#} {% endblock %}

{% block content %}
    <div class="9u -1u 12u$(2)">
        <h3>Votre compte</h3>

        <h4>Welcome, {{ app.user.username }}</h4>

        <p>You can select the following actions: </p>
        <ul class="actions fit">
            <li>
                <a class="button special fit" href="{{ path("sosvelo_point_point_add_point") }}">Point</a>
            </li>
            <li>
                <a class="button special fit" href="{{ path("sosvelo_user_user_friend") }}">Social</a>
            </li>
            <li>
                <a class="button special fit" href="{{ path("sosvelo_user_user_comment") }}">Comments</a>
            </li>
            <li>
                <a class="button special fit" href="{{ path("sosvelo_user_user_usercontact") }}">Contact</a>
            </li>
        </ul>
    </div>
{% endblock %}
